table {
	width: 100%;
	border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.responsive-table-input-matrix {
		display: block;
		position: relative;
		width: 100%;
	}
	.responsive-table-input-matrix:after {
		clear: both;
		content: "";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}
	.responsive-table-input-matrix tbody {
		display: block;
		overflow-x: auto;
		position: relative;
		white-space: nowrap;
		width: auto;
	}
	.responsive-table-input-matrix tbody tr {
		display: inline-block;
		vertical-align: top;
	}
	.responsive-table-input-matrix tbody tr td {
		display: block;
		text-align: center;
	}
	.responsive-table-input-matrix tbody tr td:first-child {
		text-align: left;
	}
	.responsive-table-input-matrix thead {
		display: block;
		float: left;
		margin-right: 10px;
	}
	.responsive-table-input-matrix thead:after {
		clear: both;
		content: "";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}
	.responsive-table-input-matrix thead th:first-of-type {
		height: 1.4em;
	}
	.responsive-table-input-matrix thead th {
		display: block;
		text-align: right;
	}
	.responsive-table-input-matrix thead th:first-child {
		text-align: right;
	}
}