<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Fahrradkurierdienst</title>
</head>
<body>
    <div class="container" style="text-align: center">
        <div class="page-hedaer">
            <h1>Zutritt verboten</h1>
        </div>
        <div>
            <p><strong>Bitte gehen Sie <a href="/">zurück</a>.</strong></p>
        </div>
    </div>
</body>
</html>