<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<section layout:fragment="content">
    <div class="alert alert-warning" role="alert" style="text-align: center;">
        <h2>There is currently no entry you can see. Go to another page</h2>
    </div>
</section>
</body>
</html>