<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Fahrradkurierdienst</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"  href="../static/indexCss.css">
    <link rel="stylesheet" media="screen" th:href="@{/static/indexCss.css}"/>
</head>
<body >

<section layout:fragment="content">
    <div sec:authorize="anonymous" class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
                <h3>Willkommmen</h3>
            </div>
            <div class="panel-body" style="text-align: center">
                <p>Schön, dass du es auf unsere Seite geschafft hast.<br>
                    Melde dich als Kurier oder Kunde an.<br>
                    Falls du noch kein Kunde von uns bist, kannst du dich unten registrieren.
                </p>
                <a href="/login" class="btn btn-info" role="button">Anmelden</a>
                <a href="/registration" class="btn btn-info" role="button">Registrieren</a>
            </div>
        </div>
    </div>
    <div sec:authorize="authenticated" class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
                <h3>Hallo <span th:text="${#httpServletRequest.remoteUser}"/>,</h3>
            </div>
            <div class="panel-body" >
                <p>Viel Spaß auf unserer Seite.<br>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet
                </p>
            </div>
        </div>
    </div>
</section>
</body>
</html>