<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Fahrradkurierdienst</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Fahrradkurierdienst</h1>

        <form sec:authorize="authenticated"
              action="/logout" class="pull-right" method="post">
            <button type="submit" class="btn btn-xs btn-link">
                <span th:text="${#httpServletRequest.remoteUser}" />
                abmelden
            </button>
        </form>

        <a sec:authorize="Customer" href="/makeorder/" class="pull-right" >Bestellung machen</a>

        <a sec:authorize="Deliverer" href="/orders/" class="pull-right" >Bestellung annhemen</a>

        <a sec:authorize="anonymous" href="/login" class="pull-right">Anmelden</a>

    </div>
</div>
</body>
</html>