<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Fahrradkurierdienst</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Fahrradkurierdienst</h1>

        <form sec:authorize="authenticated"
              action="/logout" class="pull-right" method="post">
            <button type="submit" class="btn btn-xs btn-link">
                <span th:text="${#httpServletRequest.remoteUser}" />
                abmelden
            </button>
        </form>


    </div>
    <div class="container">

        <a sec:authorize="hasRole('Customer')" href="/makeorder" class="btn btn-primary" >Bestellung aufgeben</a>

        <a sec:authorize="hasRole('Deliverer')" href="/orders" class="btn btn-primary" >Bestellung annhemen</a>

        <a sec:authorize="anonymous" href="/login" >Anmelden</a>
    </div>
</div>
</body>
</html>