<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <form action="/postOrder" method="post">
        <div class="row">
            <div class="col-md-2"> </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-5">
                        <span>From Address</span>
                        <input name="fromName" type="text" placeholder="Name"
                               class="form-control"/>
                        <input name="fromStreetName" type="text" placeholder="Street name"
                               class="form-control"/>
                        <input name="fromStreetNumber" type="number" placeholder="Street number"
                               class="form-control"/>
                        <input name="fromZip" type="number" placeholder="ZIP"
                               class="form-control"/>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <span>To Address</span>
                        <input name="toName" type="text" placeholder="Name"
                               class="form-control"/>
                        <input name="toStreetName" type="text" placeholder="Street name"
                               class="form-control"/>
                        <input name="toStreetNumber" type="number" placeholder="Street number"
                               class="form-control"/>
                        <input name="toZip" type="number" placeholder="ZIP"
                               class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="col-md-2"> </div>
        </div>

        <div class="row">
            <div class="col-md-5"> </div>
            <div class="col-md-2">
                <select name="packageType" class="form-control">
                    <option value="BRIEF_STDRD">Brief Standard  -  max. 25 x 15 x 1cm    & 50g</option>
                    <option value="BRIEF_GROẞ">Brief Groß      -  max. 35 x 25 x 3 cm   & 500g</option>
                    <option value="PAKET_KLEIN">Paket Klein     -  max. 60 x 30 x 15 cm  & 2kg</option>
                    <option value="PAKET_STDRD">Paket Standard  -  max. 120 x 60 x 60 cm & 5kg</option>
                    <option value="PAKET_GROẞ">Paket Groß      -  max. 120 x 60 x 60 cm & 15kg</option>
                    <option value="PAKET_MAXI">Paket Maxi      -  max. 120 x 60 x 60 cm & 35kg</option>
                </select>
                <button type="submit" class="btn btn-primary">Make a new order</button>
            </div>
            <div class="col-md-5"> </div>
        </div>

    </form>
</section>
</body>
</html>