<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fahrradkurierdienst</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container" >
    <div class="page-header">
        <h1>Fahrradkurierdienst</h1>

        <h2>Create Account</h2>
        <form action="/postOrder" method="post">
            <input name="name" type="text" placeholder="Name" class="form-control"/>
            <input name="password" type="password" placeholder="Password" class="form-control"/>
            <input name="confirm" type="password" placeholder="Confirm your password" class="form-control"/>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>